.header {
    background: #85222E;
    color: white;
}

button {
    background-color: #85222E;
    color: white;
}

.row {
    margin: 0;
    //height: 100vh;
    background: #eee;
    .col-10 {
        padding: 20px;
        .mat-card {
            height: 100%;
            text-align: center;

            .example-form {
                .mat-form-field {
                    width: 450px;
                }
            }
            img {
                height: 225px;
                width: 300px;
            }
        }
    }
}

.mat-spinner {
    margin: 0 auto 0 auto;
}

::ng-deep .mat-progress-spinner circle, .mat-spinner circle {
    stroke: #85222E;
}